.btn {
	display: inline-block;
	border: none;
	border-radius: 5px;
	background: var(--c-yellow-gradient);
	color: var(--c-black);
	padding: 20px 15px;
}

.btn.-hero {
	margin-top: 20px;
}

.btn.-next {
	position: absolute;
	border-top: 2px solid var(--c-white);
	border-right: 2px solid var(--c-white);
	border-radius: 0;
	background: transparent;
	padding: 0;
	width: 20px;
	height: 20px;
	right: 70px;
	top: 260px;
	transform: rotate(45deg);
}

.btn.-next:before {
	display: block;
	content: "";
	position: absolute;
	height: 27px;
	width: 2px;
	background-color: var(--c-white);
	right: 8px;
	top: -5px;
	transform: rotate(-45deg);
}

.btn.-newsletter {
	width: 39%;
	text-align: center;
}

@media screen and (max-width: 1039px) {
	.btn.-next {
		right: 0;
	}
}

@media screen and (max-width: 941px) {
	.btn.-next {
		right: -50px;
	}
}

@media screen and (max-width: 790px) {
	.btn.-next {
		right: 25px;
		top: 150px;
	}
}