.quotes__bubbles {
	position: relative;
	width: 55%;
}

.bubble {
	margin-bottom: 20px; /*!!!!!*/
	background-color: #1f1f1f;
	border-radius: 10px;
	padding: 10px;
}

.bubble.-first {
	margin-left: 160px;
}

.bubble.-second {
	margin-right: 160px;
}

.bubble.-third {
	margin: 0 80px;
}

.bubble__top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;
}

.bubble__top_left {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
}

.bubble__top_left:before {
	display: block;
	content: "";
	position: absolute;
	background-color: var(--c-yellow);
	border-radius: 50px;
	height: 63px;
	width: 63px;
	top: 5px;
	left: 7px;
}

.bubble__img {
	width: 65px;
	height: 65px;
	margin-right: 15px;
	position: relative;
}

.bubble__nickname {
	color: var(--c-yellow);
}

.bubble__from {
	color: var(--c-white);
}

.bubble__right {
	width: 18px;
	height: 14px;
}

.bubble__text {
	color: var(--c-white);
	margin-bottom: 20px;
}

.bubble__date {
	color: #979797;
	font-size: 12px;
}

@media screen and (max-width: 767px) {
	.quotes__bubbles {
		width: 100%;
		margin: 20px 0;
	}

	.bubble {
		width: 100%
	}

	.bubble.-first {
		margin-left: 0;
	}

	.bubble.-second {
		margin-right: 0;
	}

	.bubble.-third {
		margin-right: 0;
		margin-left: 0;
	}
}	