.nav {
	width: 48%;
	display: flex;
	justify-content: space-between;
}

.nav__link {
	color: var(--c-white);
}

@media screen and (max-width: 1023px) {
	.nav.-hero {
		width: 70%;
	}
}

@media screen and (max-width: 767px) {
	.nav.-hero {
		display: none;
	}
}