.section {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

.section.-hero {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-image: url(../img/bg1.jpg);
}

.hero__center {
	text-align: center;
}

.scrolldown {
	padding-bottom: 40px;
	position: relative;
}

.scrolldown:before {
	display: block;
	content: "";
	width: 15px;
	height: 15px;
	position: absolute;
	border-bottom: 2px solid var(--c-white);
	border-right: 2px solid var(--c-white);
	bottom: 30px;
	left: 30px;
	transform: rotate(45deg);
}

.scrolldown:after {
	display: block;
	content: "";
	height: 2px;
	width: 23px;
	position: absolute;
	background-color: var(--c-white);
	bottom: 38px;
	left: 27px;
}

.scrolldown__link {
	color: var(--c-white);
}

.section.-about {
	background-image: url(../img/bg2.jpg);
}

.content {
	display: flex;
	justify-content: flex-start;
}

.content__left {
	width: 48%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.about__text {
	color: var(--c-white);
	padding-left: 200px;
	margin-top: 20px;
}